/* styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.css */
.dark {
  background-color: rgb(30,30,30)!important;
  color: white;
  * {
  color: white;
  }
}
