.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: antiquewhite;
}

.flex-align-items-stretch {
  align-items: stretch!important;
}

.inner {
  max-width: 1200px;
}
